
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    margin:10%;
  }
  
  .pop-card {
    display: flex;
    height: 250px;
    width: 200px;
    background-color: whit;
    border-radius: 10px;
    box-shadow: 5px 10px #888888;
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }
  
  .pop-card:not(:first-child) {
      margin-top: -200px;
  }
  
  .pop-card:hover {
    transform: translateY(-200px);
    transition: 0.4s ease-out;
  }
  
  .pop-card:hover ~ .card {
    position: relative;
    right: 200px;
    transition: 0.4s ease-out;
  }
  
  .title {
    color: grey;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
  
  .bar {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .emptybar {
    background-color: #2e3033;
    width: 100%;
    height: 100%;
  }
  
  .filledbar {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 0px;
    height: 100%;
    background: rgb(0,154,217);
    background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
    transition: 0.6s ease-out;
  }
  
  .pop-card:hover .filledbar {
    width: 120px;
    transition: 0.4s ease-out;
  }
  
  .crd-text {
    position: absolute;
    color:grey;
    top: 100px;
    left: 20px;
    height: 5px;
    width: 150px;
  }
  
  .p-p-cont{
      display:flex;
      justify-content: center;
      flex-flow: row wrap;
  }
  
  .card-title{
      color: rgb(40,40,100);
      font-weight:600;
  }
  
  